@media screen and (max-width: 1200px) {
    header > .menu > ul > .dropbtn{
        display: none;
    }

    header > .menu > ul > .bar{
        display: block;
        margin-bottom: 8px;
        cursor: pointer;
    }

    header > .menu > .search{
        display: none;
    }

    .m_menu{     
        width: 100%;
        display: none;
    }

    .dropdown_m{
        position : relative;
    }

    .m_menu > ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 0 8px;
    }

    .dropbtn_m{
        color : #fff;
        font-size : 16px;
    }
  
    .dropdown-content_m{
        display : none;
        position : absolute;
        z-index : 1;
        font-weight: 400;
        padding: 5px 0;
    }

    .dropdown-content_m > li{
        padding: 5px 0;
    }
  
    .dropdown-content_m a:hover{
        color : #0096dd
    }
  
    .dropbtn_m:hover .dropdown-content_m {
        display: block;
    }

    main > figure > picture:first-child{
        bottom: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
    }

    main > h1{
        font-size: 32px;
    }

    .tag_music{
        margin-left: 0;
        padding: 0 24px;
    }

    .tag_music > span{
        font-size: 28px;
        font-weight: 700;
    }

    .tag_music > .albumSwiper .swiper-slide p{
        font-size: 16px;
    }

    .tag_music > .tag_btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 20px;
        margin: 20px 0;
    }
    
    .tag_music > .tag_btn > .tag{
        width: 60%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .tag_music > .tag_btn > .tag > button:first-child{
        background-color: #0096dd;
        color: #fff;
    }
    
    .tag_music > .tag_btn > .tag > button{
        width: 90px;
        border: none;
        border-radius: 29px;
    }
    
    .tag_music > .tag_btn > .more > button{
        width: 70px;
        border: none;
        color: #808080;
        background-color: transparent;
    }

    .up_music{
        margin-left: 0;
        padding: 0 24px;
    }

    .up_music > .text > h1{
        font-size: 28px;
    }

    .up_music > .albumSwiper .swiper-slide p{
        font-size: 16px;
    }

    .artist{
        margin-left: 0;
        padding: 0 24px;
    }

    .artist > h1{
        font-size: 28px;
    }

    .artist > .artistSwiper .swiper-slide p{
        margin-right: 0;
        font-size: 16px;
    }

    .mag > .container > .row .title{
        height: 367px;
    }

    .mag > .container > .row .title h1{
        font-size: 28px;
    }

    .mag > .container > .row .title p{
        font-size: 16px;
    }

    .mag > .container > .row .box p{
        font-size: 16px;
    }

    /* best1 */

    .genie > .text > span{
        font-size: 28px;
    }

    .genie > .best > .box > h2{
        font-size: 16px;
    }

    .genie > .best > .box > p{
        font-size: 12px;
    }

    .genie > .best > .box2 > .top > .item1 > h2{
        font-size: 16px;
    }

    .genie > .best > .box2 > .top > .item2 > p{
        font-size: 16px;
        color: #808080;
    }

    .genie > .best > .box2 > .top > .item3 > p{
        font-size: 16px;
    }

    .genie > .best > .box2 > .mid > .item1 > h2{
        font-size: 16px;
    }

    .genie > .best > .box2 > .mid > .item2 > p{
        font-size: 16px;
        color: #808080;
    }

    .genie > .best > .box2 > .mid > .item3 > p{
        font-size: 16px;
    }

    .genie > .best > .box2 > .btm > .item1 > h2{
        font-size: 16px;
    }

    .genie > .best > .box2 > .btm > .item2 > p{
        font-size: 16px;
        color: #808080;
    }

    .genie > .best > .box2 > .btm > .item3 > p{
        font-size: 16px;
    }

    .genie > .best > .box2 > .top > .item2{
        position: absolute;
        left: 60%;
    }

    .genie > .best > .box2 > .top > .item3{
        position: absolute;
        left: 72%;
    }

    .genie > .best > .box2 > .mid > .item2{
        position: absolute;
        left: 60%;
    }

    .genie > .best > .box2 > .mid > .item3{
        position: absolute;
        left: 71%;
    }

    .genie > .best > .box2 > .btm > .item2{
        position: absolute;
        left: 60%;
    }

    .genie > .best > .box2 > .btm > .item3{
        position: absolute;
        left: 71%;
    }

    .genie > .best > .box2 > .top > .buy{
        position: absolute;
        left: 78%;
    }

    .genie > .best > .box2 > .mid > .buy{
        position: absolute;
        left: 78%;
    }

    .genie > .best > .box2 > .btm > .buy{
        position: absolute;
        left: 78%;
    }

    /* /best1 */

    /* best2 */

    .genie > .best2 > .box3 > h2{
        font-size: 16px;
    }

    .genie > .best2 > .box3 > p{
        font-size: 12px;
    }

    .genie > .best2 > .box4 > .top > .item1 > h2{
        font-size: 16px;
    }
    
    .genie > .best2 > .box4 > .top > .item2{
        position: absolute;
        left: 56.5%;
        text-align: right;
    }

    .genie > .best2 > .box4 > .top > .item2 > span{
        font-size: 14px;
    }

    .genie > .best2 > .box4 > .top > .item2 > span:first-child{
        font-size: 14px;
        color: #808080;
    }

    .genie > .best2 > .box4 > .top > .item2 > span:nth-child(3){
        font-size: 14px;
        color: #808080;
    }

    .genie > .best2 > .box4 > .mid > .item1 > h2{
        font-size: 16px;
    }

    .genie > .best2 > .box4 > .mid > .item2 > span{
        font-size: 14px;
    }

    .genie > .best2 > .box4 > .mid > .item2 > span:first-child{
        font-size: 14px;
        color: #808080;
    }

    .genie > .best2 > .box4 > .mid > .item2 > span:nth-child(3){
        font-size: 14px;
        color: #808080;
    }

    .genie > .best2 > .box4 > .mid > .item2{
        position: absolute;
        left: 53%;
    }

    .genie > .best2 > .box4 > .top > .buy{
        position: absolute;
        left: 78%;
    }

    .genie > .best2 > .box4 > .mid > .buy{
        position: absolute;
        left: 78%;
    }

    .genie > .best2 > .box4 > .btm > .buy{
        position: absolute;
        left: 78%;
    }

    /* /best2 */

    /* best3 */

    .genie > .best3 > .box5 > h2{
        font-size: 16px;
    }

    .genie > .best3 > .box6 > .top > .item1 > h2{
        font-size: 16px;
    }

    .genie > .best3 > .box6 > .top > .item3 > p{
        font-size: 16px;
    }

    .genie > .best3 > .box6 > .mid > .item1 > h2{
        font-size: 16px;
    }

    .genie > .best3 > .box6 > .mid > .item3 > p{
        font-size: 16px;
    }

    .genie > .best3 > .box6 > .top > .item3{
        position: absolute;
        left: 71%;
    }

    .genie > .best3 > .box6 > .mid > .item3{
        position: absolute;
        left: 71%;
    }

    .genie > .best3 > .box6 > .top > .buy{
        position: absolute;
        left: 78%;
    }

    .genie > .best3 > .box6 > .mid > .buy{
        position: absolute;
        left: 78%;
    }

    .genie > .best3 > .box6 > .btm > .buy{
        position: absolute;
        left: 78%;
    }
    /* /best3 */
}

@media screen and (min-width: 1px) and (max-width: 575px) {
    .albumSwiper{
        display: none;
    }

    .m_menu{     
        width: 100%;
        display: none;
    }

    .dropdown_m{
        position : relative;
    }

    .m_menu > ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 0 8px;
    }

    .dropbtn_m{
        color : #fff;
        font-size : 16px;
    }
  
    .dropdown-content_m{
        display : none;
        position : absolute;
        z-index : 1;
        font-weight: 400;
        padding: 5px 0;
    }

    .dropdown-content_m > li{
        padding: 5px 0;
    }
  
    .dropdown-content_m a:hover{
        color : #0096dd
    }
  
    .dropbtn_m:hover .dropdown-content_m {
        display: block;
    }

    main > figure > picture:first-child{
        bottom: 35%;
        left: 50%;
        transform: translate(-50%, -35%);
    }

    main > h1{
        font-size: 20px;
    }

    .albumSwiper{
        display: none;
    }

    .tag_music{
        margin-top: 120px;
    }

    .tag_music > span:first-child{
        padding-left: 10px;
    }

    .tag_music > span{
        font-size: 16px;
        font-weight: 700;
    }

    .tag_music > .section1_m > .tag2_m{
        display: none;
    }
    
    .tag_music > .section1_m > .tag3_m{
        display: none;
    }
    
    .tag_music > .section1_m > .tag4_m{
        display: none;
    }

    .tag_music > .tag_btn{
        display: none;
    }

    .tag_music > .section1_m > .tag_btn_m{
        display: block;
    }

    .tag_music > .section1_m > .tag_btn_m{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 px;
        margin: 20px 0;
        padding-left: 10px;
    }
    
    .tag_music > .section1_m > .tag_btn_m > .tag{
        width: 85%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .tag_music > .section1_m > .tag_btn_m > .tag > button:first-child{
        background-color: #0096dd;
        color: #fff;
    }
    
    .tag_music > .section1_m > .tag_btn_m > .tag > button{
        width: 60px;
        border: none;
        border-radius: 29px;
        font-size: 12px;
    }

    .tag_music > .section1_m > .tag_btn_m > .tag > button:nth-last-of-type(3){
        width: 70px;
    }
    
    .tag_music > .section1_m > .tag_btn_m > .more > button{
        width: 60px;
        border: none;
        color: #808080;
        background-color: transparent;
        font-size: 12px;
    }

    .section1_m > .img_box{
        width: 100%;
        height: 500px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        text-align: center;
        padding-left: 10px;
    }

    .section1_m > .img_box p{
        margin-right: 20px;
        font-size: 12px;
        margin-top: 16px;
    }

    .section1_m > .img_box p:last-child{
        margin-top: 8px;
        color: #808080;
    }

    .up_music > .text > h1{
        font-size: 16px;
        margin-bottom: 16px;
        padding-left: 10px;
    }

    .up_music > .text > button{
        font-size: 10px;
        margin-bottom: 16px;
    }

    .artist > h1{
        font-size: 16px;
        padding-left: 10px;
    }

    .artist > .artistSwiper .swiper-slide p{
        margin-right: 20px;
        font-size: 12px;
        margin-left: 10px;
    }

    .m_none{
        display: none;
    }

    .mag > .container > .m_h1{
        font-size: 16px;
    }

    .mag > .container > .m_p{
        font-size: 12px;
    }

    .mag > .container > .row > .col-6 > .box p{
        font-size: 12px;
    }

    .mag > .container > .row > .col-6 > .box{
        margin-left: 15%;
    }

    .genie{
        width: 100%;
        margin-top: 90px;
    }

    .genie > .text > span{
        font-size: 16px;
    }

    .genie > .best > .box{
        width: 25%;
    }

    .genie > .best > .box > h2{
        font-size: 12px;
    }

    .genie > .best > .box > p{
        font-size: 10px;
    }

    .genie > .best > .box2 > .top{
        width: 100%;
    }       
    
    .genie > .best > .box2 > .top > .item1 > h2{
        font-size: 12px;
    }

    .genie > .best > .box2 > .top > .item2{
        position: absolute;
        left: 55%;
    }

    .genie > .best > .box2 > .top > .item2 > p{
        font-size: 12px;
    }

    .genie > .best > .box2 > .top > .item3{
        position: absolute;
        left: 73%;
    }

    .genie > .best > .box2 > .top > .item3 > p{
        font-size: 12px;
    }

    .genie > .best > .box2 > .mid{
        width: 100%;
    }       
    
    .genie > .best > .box2 > .mid > .item1 > h2{
        font-size: 12px;
    }

    .genie > .best > .box2 > .mid > .item2{
        position: absolute;
        left: 55%;
    }

    .genie > .best > .box2 > .mid > .item2 > p{
        font-size: 12px;
    }

    .genie > .best > .box2 > .mid > .item3{
        position: absolute;
        left: 71%;
    }

    .genie > .best > .box2 > .mid > .item3 > p{
        font-size: 12px;
    }

    .genie > .best > .box2 > .btm{
        width: 100%;
    }       
    
    .genie > .best > .box2 > .btm > .item1 > h2{
        font-size: 12px;
    }

    .genie > .best > .box2 > .btm > .item2{
        position: absolute;
        left: 55%;
    }

    .genie > .best > .box2 > .btm > .item2 > p{
        font-size: 12px;
    }

    .genie > .best > .box2 > .btm > .item3{
        position: absolute;
        left: 71%;
    }

    .genie > .best > .box2 > .btm > .item3 > p{
        font-size: 12px;
    }

    /* best2 */

    .genie > .best2 > .box3{
        width: 25%;
    }

    .genie > .best2 > .box3> h2{
        font-size: 12px;
    }

    .genie > .best2 > .box3 > p{
        font-size: 10px;
    }

    .genie > .best2 > .box4 > .top{
        width: 100%;
    }

    .genie > .best2 > .box4 > .top > .item1 > h2{
        font-size: 12px;
    }

    .genie > .best2 > .box4 > .top > .item2{
        position: absolute;
        left: 44%;
        text-align: left;
    }

    .genie > .best2 > .box4 > .top > .item2 > span{
        font-size: 11px;
    }

    .genie > .best2 > .box4 > .top > .item2 > span:first-child{
        font-size: 11px;
        color: #808080;
    }

    .genie > .best2 > .box4 > .top > .item2 > span:nth-child(3){
        font-size: 11px;
        color: #808080;
    }
    .genie > .best2 > .box4 > .mid{
        width: 100%;
    }

    .genie > .best2 > .box4 > .mid > .item1 > h2{
        font-size: 12px;
    }

    .genie > .best2 > .box4 > .mid > .item2{
        position: absolute;
        left: 44%;
        text-align: left;
    }

    .genie > .best2 > .box4 > .mid > .item2 > span{
        font-size: 11px;
        white-space: normal;
    }

    .genie > .best2 > .box4 > .mid > .item2 > span:first-child{
        font-size: 11px;
        color: #808080;
    }

    .genie > .best2 > .box4 > .mid > .item2 > span:nth-child(3){
        font-size: 11px;
        color: #808080;
    }

    /* /best2 */

    /* best3 */

    .genie > .best3 > .box5{
        width: 25%;
    }

    .genie > .best3 > .box5 > h2{
        font-size: 12px;
    }

    .genie > .best3 > .box5 > p{
        font-size: 10px;
    }

    .genie > .best3 > .box6 > .top{
        width: 100%;
    }

    .genie > .best3 > .box6 > .top > .item1 > h2{
        font-size: 12px;
    }

    .genie > .best3 > .box6 > .top > .item3 > p{
        font-size: 12px;
    }

    .genie > .best3 > .box6 > .mid{
        width: 100%;
    }

    .genie > .best3 > .box6 > .mid > .item1 > h2{
        font-size: 12px;
    }

    .genie > .best3 > .box6 > .mid > .item3 > p{
        font-size: 12px;
        
    }

    /* /best3 */

    .genie > .best > .box2 > .top > .buy > button,
    .genie > .best > .box2 > .mid > .buy > button,
    .genie > .best > .box2 > .btm > .buy > button{
        margin-bottom: 4px;
    }

    .genie > .best3 > .box6 > .top > .buy > button,
    .genie > .best3 > .box6 > .mid > .buy > button{
        margin-bottom: 4px;
    }

    .genie > .best > .box2 > .top > .buy > button,
    .genie > .best > .box2 > .mid > .buy > button,
    .genie > .best > .box2 > .btm > .buy > button,
    .genie > .best2 > .box4 > .top > .buy > button,
    .genie > .best2 > .box4 > .mid > .buy > button,
    .genie > .best3 > .box6 > .top > .buy > button,
    .genie > .best3 > .box6 > .mid > .buy > button{
        width: 50px;
        height: 20px;
        font-size: 10px;
    }

    .genie > .best > .box2 > .top > .buy,
    .genie > .best > .box2 > .mid > .buy,
    .genie > .best > .box2 > .btm > .buy,
    .genie > .best2 > .box4 > .top > .buy,
    .genie > .best2 > .box4 > .mid > .buy,
    .genie > .best3 > .box6 > .top > .buy,
    .genie > .best3 > .box6 > .mid > .buy{
        left: 85%;
    }

    footer > .text{
        font-size: 12px;
    }

    footer > .text > .icon{
        font-size: 16px;
    }
}